<h1 class="text-center">Самые интересные новости в сети!</h1>
<!-- <div class="container"> -->
	
	<div class="button btn btn-primary news_b hide">
						<%= link_to 'Добавить новость', new_post_path  %>
					</div>
	<div class="container">
	        <% @posts.each_slice(5) do |rows| %>
              <div class="row">
                 <div class="col-md-1"></div>
                <% rows.each do |post| %>
                  <div class="col-md-2">
                      <div class="front-image text-center">
        					<%= image_tag post.image.url(:small) %>
        				</div>
        				<p class="front-post text-left">
        					<%= post.content.truncate(70) %>
        				</p>
        				<div class="button btn btn-more text-left"><%= link_to "Подробнее", post %></div>
        				<%# if admin_signed_in? %>
        				<div class="hide-block">
        					<div class="button btn btn-success">
        						<%= link_to 'Редактировать', edit_post_path(post) %> 
        					</div>
        					<div class="button btn btn-danger">
        			  			<%= link_to 'Удалить', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        			  		</div>
        					<div class="button btn btn-info">
        						<%= link_to "Посмотреть", post %>
        					</div>
        				</div>	
                      
                  </div>
                <% end %>
                <div class="col-md-1"></div>
              </div>
              
            <% end %>
    		
    		    
                    
                        
                
    		           
        			
            
    			
    		
    		
