
<!-- <div class="container"> -->
<div id="main">
  <div class="hide-block">
    <% if admin_signed_in? %>
    	<div class="button btn btn-primary news_b hide-block">
    						<%= link_to 'Add news block', new_post_path  %>
    	</div>
    	<div class="button btn btn-danger news_b hide-block">
    						<%= link_to 'Sign out from admin panel', destroy_admin_session_path  %>
    	</div>
  	<% end %>
  </div>
	        <% @posts.each_slice(5) do |rows| %>
              <div class="row">
                 <div class="col-md-1 "></div>
                <% rows.each do |post| %>
                  <div class="col-md-2  news-block">
                      <div class="front-image text-center">
        					      <%= image_tag post.image.url(:small) %>
        					   </div>
        				<p class="front-post text-left">
        					<%= post.content.truncate(70) %>
        				</p>
        				
        				<%# post.views.save %>
        				<p><%#post.impressionist_count %></p>
        				

        				<div class="button btn btn-more text-left"><%= link_to "Read More", post %></div>
        				<% if admin_signed_in? %>
        				<p class="text-center views"><%=post.views %></p>
        				<div class="hide-block">
        					<div class="button btn btn-success">
        						<%= link_to 'Edit', edit_post_path(post) %> 
        					</div>
        					<div class="button btn btn-danger">
        			  			<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        			  		</div>
        					<div class="button btn btn-info">
        						<%= link_to "Show", post %>
        					</div>
        				</div>
        				<% end %>
                      
                  </div>
                <% end %>
                <div class="col-md-1 col-xs-1"></div>
              </div>
              
            <% end %>
    		
</div>    
                    
                        
                
    		           
        			
            
    			
    		
    		
