
	
<div class="second">

<!-- start if news loop -->
<% @posts.each_with_index do |post, index| %>

	<% if index==0 %>
	            <!-- start top row -->
		<div class="row top-row text-left">
	<% end %>

  <% if index<3 %>
    	       
      <div class="top-item text-left">
     
	      <p><%= image_tag post.image.url(:thumb) %>
				<%= post.content.truncate(100) %>
				<div class="button btn-more  text-left">
					<%= link_to "Read More", post %>
				</div>
				<br style="clear: both;" /></p>
	      		
	  
	      <div class="hide-block text-center">				
		      <% if admin_signed_in? %>
		         <p class="views text-center"><%=post.views %></p>		
		       	<div class="button btn btn-success">
		          <%= link_to 'Edit', edit_post_path(post) %> 
		        </div>
		        <div class="button btn btn-danger">
		          <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
		        </div>
		        <div class="button btn btn-info">
		            		<%= link_to "Show", post %>
		        </div>
	       
	        <% end %>
        </div>	                 
      </div>
	<% end %>
                    
	<% if index==3 %>
	  </div> <!-- close top row -->
	  <div class="row second-row"> <!-- open second row, big post, pic and block -->
	
<!--Full news block -->

			<div id="post_content">
				<h2>Today news</h2>
				<h3><%=  @post.title %></h3>
				<div class="image">
					<%= image_tag @post.image.url(:big) %>
				</div>
				<p class="content text-left">
					<%= @post.content.truncate(200) %></p>
				<p class="date">
					Published <%= time_ago_in_words(@post.created_at) %> ago
				</p>
				<div class="button btn-more text-center">
					<%= link_to "Read More", posts_path %>
				</div>
				<div class="hide-block">

					<% if admin_signed_in? %>
						
						<div class="button btn btn-info">
							<%= link_to 'Main Page', posts_path %>
						</div>
						<div class="button btn btn-success">
							<%= link_to 'Edit', edit_post_path(@post) %> 
						</div>
						<div class="button btn btn-danger">
							<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?' } %>
						</div>
						<div class="button btn btn-primary news_b hide">
							<%= link_to 'Add news', new_post_path  %>
						</div>
					
					<% end %>
				</div>
			
					
				</div><!-- end of full news block --> 	                        
	<% end %>                 
	<% if index==4 %>
			  
			<div class="pic-col">
	<% end %>
	                  
	    <% if index>=4 and index<=6 %>
	        	<div class="pic-col-item">
	              
		            <div class="text-center">
		            	<%= image_tag post.image.url(:medium) %>
		            </div>
		            <p class="text-left">
		            	<%= link_to post.content.truncate(60), post %>
		            </p>
		            <div class="hide-block text-center">		
		            	<% if admin_signed_in? %>
		            <p class="text-center views"><%=post.views %></p>
		            

		            		<div class="button btn btn-success">
		            			<%= link_to 'Edit', edit_post_path(post) %> 
		            		</div>
		            		<div class="button btn btn-danger">
		            			<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
		            		</div>
		            		<div class="button btn btn-info">
		            				<%= link_to "Show", post %>
		            		</div>
		            		<% end %>
								</div>

						</div>
	    <% end %>
	            		
	    <% if index==6 %> 
	        </div><!-- end of pic col block -->

	        <div class="side-col"><!-- start of side col block -->
	     <% end %>
	    <% if index>=6%>
	        <div class="side-item">
	          <div class="text-left">
	           	<p><%= image_tag post.image.url(:thumb) %>
							<%= post.content.truncate(80) %>

							<div class="button btn-more  text-center">
							<%= link_to "Read More", post %>
							</div>
							<br style="clear: both;" /></p>					
						</div>
						<div class="hide-block">
		          <% if admin_signed_in? %>
		            	<p><%=post.views %></p>
		            		<div class="button btn btn-success">
		            			<%= link_to 'Edit', edit_post_path(post) %> 
		            		</div>
		            		<div class="button btn btn-danger">
		            			<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
		            		</div>
		            		<div class="button btn btn-info">
		            			<%= link_to "Show", post %>
		            		</div>
		            				
		          <% end %>
	          </div>	
	                          
	    	</div>
	                       
	    <% end %>

	    <% if index==11 or index == @posts.size - 1 %>
	                 
	        </div><!-- end of side col block -->
	    </div><!-- close second row bit news+pic-block+col-block -->
	       <% break %>
	    <% end %>

<% end %>
 <!-- end of news loop -->
	    		    

<div class="random-block row">               
	<% @posts2.shuffle.each_slice(5) do |rows| %>
	              
	    <div class="col-md-1 col-xs-1 col-sm-1"></div>
	    <% rows.each do |post| %>
	      <div class="col-md-2 col-xs-5 col-sm-5 news-block">
	      	<div class="front-image text-center">
	        	<%= image_tag post.image.url(:small) %>
	        </div>
	        <p class="front-post text-left">
	        	<%= post.content.truncate(70) %>
	        </p>
	        <div class="button btn-more text-center">
	        	<%= link_to "Подробнее", post %>
	        </div>
		      <div class="hide-block">
		      	<% if admin_signed_in? %>
		        				
		        	<div class="button btn btn-success">
		        		<%= link_to 'Edit', edit_post_path(post) %> 
		        	</div>
		        	<div class="button btn btn-danger">
		        		<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
		        	</div>
		        	<div class="button btn btn-info">
		        		<%= link_to "Show", post %>
		        	</div>
		        				
		        <% end %>
		      </div>
	                      
	      </div>
	    <% end %>
	    <div class="col-md-1 col-xs-1 col-sm-1"></div>
	              
	<% end %>               
	        						
</div>  	
</div>
