<!DOCTYPE html>
<html>
<head>
  <title>AwesomeNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%# yield :head %>
</head>
<body>
<div class="container-fluid">
  <% if admin_signed_in? %>
  <div class="hide-block">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <% end %>
  <h1 class="text-center">Самые интересные новости в сети!</h1>
  <div class="container">
  <%= yield %>
  </div>
</div>
</body>
</html>
